<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()" style="color: white;">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Recebimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recebimentos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>Valor</ion-label>
      <ion-input type="number" [(ngModel)]="valorRecebido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descrição</ion-label>
      <ion-input [(ngModel)]="descricao"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="confirmar()">Confirmar</ion-button>
</ion-content>